/* Body */
body {
  background-color: #332FD0;
  padding-top: 100px;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
}
.title h2 {
  color: #FB2576;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}

.headerWrapperOne {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr;
  height: 200px;
  margin-bottom: 50px;
  width: 50%;
  text-align: center;
}

.headerWrapperTwo {
  display: grid;
  grid-template-columns: 66.5% 26.5%;
  column-gap: 3%;
}

.headerWrapperTwo input {
  height: 36px;
  background-color: #332FD0;
  border: solid 4px #FB2576;
  color: gray;
  border-radius: 0px;
  pointer-events: auto;
}

/* .headerWrapperTwo input:hover {
  color: white;
  background-color: #332FD0;
  border: solid 4px #FB2576;


} */

.headerWrapperTwo input:focus {
  color: white;
  background-color: #332FD0;
  border: solid 4px #FB2576;
}
.headerWrapperTwo button {
  height: 36px;
  color: #332FD0;
  background-color: #FB2576;
  border: solid 4px #FB2576;
  border-radius: 0px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.headerWrapperTwo button:hover{
  background-color: #332FD0;
  border: solid 4px #FB2576;
  color: #FB2576;
}

/* Listing */

.listing {
  display: flex;
  justify-content: center;
  width: 100%;
}

.listingWrapper {
  justify-content: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  column-gap: 52px;
  row-gap: 52px;
}


/* Cards */

.card {
  border: 4px solid #FB2576;
  border-radius: 0px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  min-height: 410px;
  max-height: 410px;
  overflow: hidden;

}

.card img {
  border-radius: 0px;
}

.card-bottom {
  display: grid;
  grid-row: 50% 50%;
  row-gap: 10px;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
  text-align: center;
}

.card-bottom p {
  margin-bottom: 0px;
}

.card-bottom button {
  width: auto;
  background-color: #332FD0;
  border: 3px solid #FB2576;
  margin: 0 auto;
}

.card-bottom button:hover {
  background-color: white;
}
